<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Recipe Box</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Villy's Cookbook</a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <div><ul class="nav navbar-nav navbar-right">
        <li><a>WELCOME, <%= current_user.name %></a></li>

        <li><a href="/">HOME</a></li>
        <li><a href="/users/<%=current_user.slug%>">YOUR RECIPES</a></li>
        <li><a href="/recipes/new">NEW RECIPE</a></li>
        <li><a><form action="/logout" method="post">
          <button name="logout" type="submit" class="btn btn-link">
            <span class="glyphicon glyphicon-log-out"></span> LOGOUT
          </button>
        </form></a></li>
      </ul></div>
    </div>
  </div>
</nav>

<div class="container">
<div class="jumbotron text-center">
  <h1></h1>

  <% if flash.has?(:message) %>
    <p class="text-danger"><%= flash[:message] %></p>
  <% end %>
  <% if @recipe && @recipe.errors %>
    <% @recipe.errors.full_messages.each do |msg|%>
      <%=msg%><br>
    <% end %>
  <% end %>

  <!-- Container (Recipe Table) -->
  <h3 align="left">Edit your recipe</h3>
  <form action="/recipes/<%=@recipe.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <div class="row">
      <div class="col-sm-3 text-left">
        <label>Recipe Name:</label>
      </div>
      <div class="col-sm-9 form-group text-left">
        <input type="text" class="form-control" name="recipe[name]" value="<%=@recipe.name%>">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 text-left">
        <label>Method:</label>
      </div>
      <div class="col-sm-9 form-group text-left">
        <textarea rows="5" class="form-control" name="recipe[direction]" value="<%=@recipe.direction%>"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 text-left">
        <label>Photo Link:</label>
      </div>
      <div class="col-sm-9 form-group text-left">
        <input type="text" class="form-control" name="recipe[photo_link]" value="<%=@recipe.photo_link%>">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 text-left">
        <label>Ingredients:</label>
      </div>
      <div class="col-sm-9 text-left">
        <div class="row">
          <label>Pick from the existing ingredients, </label>
        </div>
        <div class="row">
          <% Ingredient.order(:name).each do |i| %>
            <div class="col-sm-4">
              <input type="checkbox" id="ingredient_<%=i.name %>" name="recipe[ingredient_ids][]" value="<%=i.id %>" <%='checked' if @recipe.ingredients.include?(i) %>><%=i.name%></input><br>
            </div>
          <% end %>
        </div>
        <div class="row">
          <label>or create new ones: </label>
        </div>
        <div class="row">
          <div id="myTable2">
            <div class="col-sm-4"><input type="text" name="ingredient[][name]" value="" placeholder="New Ingredient"></div>
            <div class="col-sm-4"><input type="text" name="ingredient[][name]" value="" placeholder="New Ingredient"></div>
            <div class="col-sm-4"><input type="text" name="ingredient[][name]" value="" placeholder="New Ingredient"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12 form-group text-right">
        <br><input type="submit" class="btn btn-default" value="Update your recipe">
      </div>
    </div>
  </form>

<!-- Container (Recipe) end-->
</div></div>
</body></html>
