<%=@recipe.name %> by <%=@recipe.user.name%>
<br>
<label>Direction</label>
<%=@recipe.direction%>
<br>
<label>Ingredients</label>
<% @recipe.ingredients.each do|ingredient| %>
  <li><%=ingredient.name%></li>
<% end %>
<% if @recipe.user  == current_user %>
  <form action="/recipes/<%=@recipe.id%>/edit" method="get">
    <input type="submit" value="Edit Recipe">
  </form>
  <form action="/recipes/<%=@recipe.id%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Recipe">
  </form>
<% end %>
