Welcome <%=current_user.name %>
<br>
<form action="logout" method="post">
  <input type="submit" value="Logout">
</form>
<% if flash.has?(:message) %>
  <%=flash[:message] %>
<% end %>

<table><thead>
  <tr><th>Recipe Name</th>
    <th>Created by</th>
    <th>Last updated</th>
  </tr>
</thead>
<tbody>
  <% @recipes.each do |recipe| %>
  <tr><td><a href="/recipes/<%=recipe.id%>"><%=recipe.name%></td>
    <td><%=recipe.user.name%></td>
    <td><%=recipe.updated_at%></td>
  </tr>
  <% end %>
</tbody>
</table>
